
:root {
    --laranja: #FC671D;
    --magenta: #D34AF4;/* cor do botão */
    --cinza: #faf6f7;
    --cinza-escuro:#888;
    --ciano: #0BC0D3;
    --base: #2c006a;
    --branco: #fff;
    --preto: #000;
    --roxo: #4D2C87;  /* fundo roxo */
    --sombra-base:rgba(44, 0, 106, 0.4);
    --sombra-preta:rgba(0, 0, 0, 0.4);
    --cinzaPlaceHolder:#9E9E9E;
    --cinzaDatas: #D9D9D9;
  }


.body{
    background: var(--roxo);
    margin: 0px 100px;
   
}

.header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 50px;
  }

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconeX{
    
    width: 32px;
    height: 32px;
}

.iconeX:hover{
    cursor: pointer;
}

.cadastrarUsuario{
    
    font-size: 22px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: var(--branco);
    background-color: var(--magenta);
    width: 260px;
    height: 60px;
    margin-right: 25px;
    margin-bottom: 20px;
    
}


.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.input input{

    border-radius: 4px;
    border: none;
    width: 800px;
    height: 55px;   
    background-color: var(--branco);
    font-size: 20px;
    color: var(--base);
    margin-bottom: 40px;

}



label{
    color: var(--branco);
    font-size: 15px;
    margin-bottom: 15px;
}

.input input:read-write
{

    color: var(--base);
    padding-left: 20px;

}

.formUsuario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

