body{
    margin: 0;
    padding: 0;
}

.menuMobile{
    display: none;
}

.lateral{
    background-color: rgba(77, 44, 135, 1);
    width: 350px;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 20px;
}



.logoAdminDesk{
    width: 180px;
    height: 100px;
    margin-bottom: 70px;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 50px;
}

.menuA{
    text-decoration: none;
}

.buttonL{
    background-color: rgba(252, 103, 29, 1);
    display: flex;
    border: none;
    width: 300px;
    height: 55px;
    border-radius: 25px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    gap: 20px;
    font-size: 16px;
    color: white;
    font-weight: 800;
}

.buttonL:hover{
    background-color: rgb(252, 84, 0);
    transition: 0.5s;
    cursor: pointer;
}

.sair{
    text-decoration: none;
}

.buttonSair{
    background-color: rgba(211, 74, 244, 1);
    width: 300px;
    height: 65px;
    display: flex;
    border: none;
    border-radius: 25px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    color: white;
    font-size: 24px;
    font-weight: 800;
    gap: 60px;
}

.buttonSair:hover{
    background-color: rgb(196, 10, 243);
    transition: 0.5s;
    cursor: pointer;
}

.top
{
    margin-left: 350px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: flex;
    align-items: center;
    justify-content: right;
    height: 100px;
    padding-right: 50px;
}

.perfil{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    font-weight: 400;
}

.perfil img{
    height: 50px;
    width: 50px;
}

@media (max-width: 1000px) {
    .lateral{
        display: none;
    }
    .top{
        display: none;
    }
    .menuMobile{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(77, 44, 135, 1);
        /* padding-left: 50px;
        padding-right: 50px; */
       padding: 25px 50px 25px 50px;
    }
    .groupAdmin{
        height: 35px;
        width: 35px;
    }
    .iconeUser{
        height: 35px;
        width: 35px;
    }
    .logoAdminMob{
        width: 110px;
        height: 64px;
    }


}