:root {
    --laranja: #FC671D;
    --laranja-rgb: 252, 103, 29;
    --magenta: #D34AF4;
    --magenta-rgb: 211, 74, 244;
    --cinza: #faf6f7;
    --cinza-rgb: 250, 246, 247;
    --cinza-escuro: #888;
    --cinza-escuro-rgb: 136, 136, 136;
    --ciano: #0BC0D3;
    --ciano-rgb: 11, 192, 211;
    --base: #2c006a;
    --base-rgb: 44, 0, 106;
    --branco: #fff;
    --branco-rgb: 255, 255, 255;
    --preto: #000;
    --preto-rgb: 0, 0, 0;
    --sombra-base:rgba(44, 0, 106, 0.4);
    --sombra-preta:rgba(0, 0, 0, 0.4);
  }
  
  body{
      font-family: Arial, Helvetica, sans-serif;
      background-color: var(--branco);
      margin: 0;
      padding: 0;
      color: var(--preto);
      font-size: 18px;
      align-items: center;
  }
  .containerPai{
      display: flex;
      justify-content: center;
      width: 100%;
  }
  .container{
      margin-top: 100px;
      margin-left: 20px;
      margin-right: 20px;
      width: 800px;
  }
  .titulo{
      display: flex;
      flex-direction: row;
      font-weight: bold;
  }
  
  .icone{
      width: 18px;
      height: 18px;
      border-bottom: 2px solid var(--laranja);
  }
  .icone img{
      width: 100%;
  }
  .sort-desc {
    transform: none;
    cursor: pointer;
  }
  .sort-asc {
    transform: scale(1, -1);
    cursor: pointer;
  }
  table {
      margin-top: 30px;
      border-collapse: separate; 
      border-spacing: 0 10px; 
      border: none;
      width: 100%;
    }
  
  th img{
      width: 16px;
      margin-right: 5px;
      vertical-align: middle;
      margin-bottom: 1px;
  }
  th, td {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      text-align: left;
      font-size: 16px;
    }
  
  tbody tr {
    border-radius: 10px;
    box-shadow: 10px 4px 8px var(--sombra-base) /* Desloca a sombra 10px para a direita */
  }
  
  td input {
    border: 1px solid var(--magenta);
    box-sizing: border-box;
    padding: 5px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 10px;
    width: 75px;
    border-radius: 10px;
  }
  .botao-remover{
    border: none;
    background-color: transparent;
  }
  .botao-remover img{
    width: 18px;
    cursor: pointer;
  }
  .botao-remover img:hover {
    filter: hue-rotate(-90deg);
  }
  
  .botao-remover img:active {
    transform: translate(-2px, 2px);
  }
    
  .cor-moeda{
    color: var(--laranja);
  }
  .cor-valor{
    color: var(--ciano);
  }
  .total {
    text-align: center;
    margin: 20px 0;
  }
  .checkout-button {
    border: 1px solid var(--magenta);
    background-color: var(--magenta);
    color: var(--branco);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .checkout-button:hover {
    background-color: var(--branco);
    color: var(--preto);
  }
    
  .checkout-button:disabled {
    border: 1px solid var(--preto);
    background-color: var(--cinza);
    color: var(--cinza-escuro);
    cursor: not-allowed;
  }
    
  @media screen and (max-width: 600px) {
    table {
      min-width: 300px;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    thead {
      display: none;
    }
  
    tr {
        margin-bottom: 1em;
    }
  
    td {
      border: none;
      position: relative;
      padding-left: 50%;
    }
  
    td:before {
      content: attr(data-label);
      position: absolute;
      top: 50%;
      left: 6px;
      width: 45%;
      padding-right: 5px;
      white-space: nowrap;
      transform: translateY(-50%);
      font-weight: bold;
    }
  }

  dialog{
    border-radius: 20px;
    max-width: 600px;
    position: relative;
    border: 1px solid var(--cinza);
    background-color: var(--branco);
    box-shadow: 0 10px 20px rgba(var(--preto-rgb), 0.1), 0 6px 6px rgba(var(--preto-rgb), 0.1);
    padding: 20px;
    overflow: hidden;
}

dialog::backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--cinza-rgb), 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha a popup no topo */
    overflow-y: auto; /* Permite o scroll na página principal */
}

/* posicao do botao de fechar do lado direito */
.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-titulo {
    flex-grow: 1;
    text-align: center;
    color: var(--base);
    font-weight: bold;
    font-size: 25px;
    margin: 10px;
}
.popup-closed {
    width: 30px;
    height: 30px;
    float: right;
    cursor: pointer;
    margin: 10px;
}
.popup-closed:hover {
    opacity: 0.7;
}
.popup-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 20px;
}

.input-label {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group .input-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 250px; 
}

.input-container label {
    margin-bottom: 5px;
}

.input-radio {
    appearance: none;
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    border: 1px solid var(--magenta);
    border-radius: 0; /* Quadrado */
    margin-right: 5px;
    cursor: pointer;
}

.input-radio:checked {
    background-color: var(--laranja); /* Fundo laranja quando selecionado */
}

.form-endereco-ativo input, 
.form-endereco-ativo select {
    cursor: text;
}
.form-endereco-desativado input, 
.form-endereco-desativado select {
    background-color: rgba(var(--cinza-escuro-rgb),0.3); /* Fundo cinza escuro com transparencia */
    cursor: not-allowed;
}
.obs {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.asterisco {
    color: var(--laranja);
    font-size: 20px;
}
.input-text {
    padding: 10px;
    border: 1px solid var(--magenta);
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.input-select {
    padding: 10px;
    border: 1px solid var(--magenta);
    border-radius: 10px;
    font-size: 16px;
    margin-right: 10px;
}


.input-button {
    width: 200px;
    padding: 10px;
    border: none;
    border: 1px solid var(--magenta);
    background-color: var(--magenta);
    color: var(--branco);
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
.input-button:hover {
    background-color: var(--branco);
    color: var(--preto);
}