:root {
    --laranja: #FC671D;
    --magenta: #D34AF4;
    --cinza: #faf6f7;
    --cinza-escuro:#888;
    --ciano: #0BC0D3;
    --base: #2c006a;
    --branco: #fff;
    --preto: #000;
    --sombra-base:rgba(44, 0, 106, 0.4);
    --sombra-preta:rgba(0, 0, 0, 0.4);
  }
  
  body{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      background-color: var(--branco);
      margin: 0;
      padding: 0;
      color: var(--preto);
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .menu-superior{
    position: fixed;
    background-color: var(--branco);
    box-shadow: 10px 4px 8px var(--sombra-preta);
    top: 0;
    width: 100%;
    padding: 10px;
    height: 60px;
    z-index: 1;
  }
  .container{
      margin-top: 100px;
      margin-left: 20px;
  }
  .titulo{
      display: flex;
      flex-direction: row;
      font-weight: bold;
  }
  
  .icone{
   display: flex;
   align-items: center;
  }
  .icone img{
      width: 34px;
      height: 34px;
      border-bottom: 2px solid var(--laranja); 
  }
  .sort-desc {
    transform: none;
    cursor: pointer;
  }
  .sort-asc {
    transform: scale(1, -1);
    cursor: pointer;
  }
  table {
      margin-top: 30px;
      border-collapse: separate; 
      border-spacing: 0 10px; 
      border: none;
      width: 100%;
      min-width: 600px;
    }
  
  th img{
      width: 16px;
      margin-right: 5px;
      vertical-align: middle;
      margin-bottom: 1px;
  }
  th, td {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      text-align: left;
      font-size: 16px;
    }
  
  tbody tr {
    border-radius: 10px;
    box-shadow: 10px 4px 8px var(--sombra-base) /* Desloca a sombra 10px para a direita */
  }
  
  td input {
    border: 1px solid var(--magenta);
    box-sizing: border-box;
    padding: 5px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 10px;
    width: 75px;
    border-radius: 10px;
  }
  .botao-remover{
    border: none;
    background-color: transparent;
  }
  .botao-remover img{
    width: 18px;
    cursor: pointer;
  }
  .botao-remover img:hover {
    filter: hue-rotate(-90deg);
  }
  
  .botao-remover img:active {
    transform: translate(-2px, 2px);
  }
    
  .cor-moeda{
    color: var(--laranja);
  }
  .cor-valor{
    color: var(--ciano);
  }
  .total {
    text-align: center;
    margin: 20px 0;
  }
  .checkout-button {
    border: 1px solid var(--magenta);
    background-color: var(--magenta);
    color: var(--branco);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .checkout-button:hover {
    border: 1px solid var(--magenta);
    background-color: var(--branco);
    color: var(--preto);
  }
    
  .checkout-button:disabled {
    border: 1px solid var(--preto);
    background-color: var(--cinza);
    color: var(--cinza-escuro);
    cursor: not-allowed;
  }
    
  @media screen and (max-width: 600px) {
    table {
      min-width: 400px;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    thead {
      display: none;
    }
  
    tr {
        margin-bottom: 1em;
    }
  
    td {
      border: none;
      position: relative;
      padding-left: 50%;
    }
  
    td:before {
      content: attr(data-label);
      position: absolute;
      top: 50%;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      transform: translateY(-50%);
      font-weight: bold;
    }
  }


/* body */

/* position: absolute;
width: 925px;
height: 439px;
left: calc(50% - 925px/2 + 0.5px);
top: 413px; */

