:root {
    --laranja: #FC671D;
    --magenta: #D34AF4;
    --cinza: #faf6f7;
    --cinza-escuro:#888;
    --ciano: #0BC0D3;
    --base: #2c006a;
    --branco: #fff;
    --preto: #000;
    --roxo: #4D2C87;
    --sombra-base:rgba(44, 0, 106, 0.4);
    --sombra-preta:rgba(0, 0, 0, 0.4);
  }
  


body{
    margin: 0;
    padding: 0;
    font-family: 'K2D', sans-serif;
    background-color: linear-gradient(135deg, purple, orange);
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

.ondeVaiFicarOMenu{
    height: 200px;
}

.desafiosCampanha{

    width: 1000px;
    height: 300px;
    background-color: var(--roxo);
    color: var(--branco);
    border-radius: 15px;
    cursor: pointer;
    border: none;
}
      


.line{
    width: 40px;
    height: 0;
    top: 273px;
    left: 375px;
    border: 1px solid var(--laranja);
}

.botaoCampanha{
    
    display: flex;
    border: none;
    justify-content: center;
    align-content: center;
    margin-bottom: 50px;
    margin-top: 90px;
}

.desafiosCampanha{
    box-shadow: 0px 4px 10px 0px rgba(77, 44, 135, 0.6);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.desafiosCampanha:hover{
    scale:1.03;

}

/* referente aos outros colocados */

.outrosColocados{
    background: rgb(77,44,135);
    background: linear-gradient(90deg, rgba(77,44,135,1) 0%, rgba(252,103,29,1) 100%);
    box-shadow: 0px 2px 4px 0px rgba(77, 44, 135, 0.6);

    width: 290px;
    height: 50px;
    padding: 2px;
    border-radius: 15px;
    margin-top: 10px;
}

.outrosColocados li{
    width: 100%;
    height: 100%;
    background-color: var(--branco);
    border-radius: 13px;
    display: flex;
    align-items: center;
    font-size: large;
    font-size: medium;
}

.outrosColocados img{
    width: 40px;
    height: 40px;
}

/* referente ao primeiro colocado */

.primeiro{
    margin-top: 15px;
    background: rgb(77,44,135);
    background: linear-gradient(90deg, rgba(77,44,135,1) 0%, rgba(252,103,29,1) 100%);
    box-shadow: 0px 2px 4px 0px rgba(77, 44, 135, 0.6);
    width: 290px;
    height: 70px;
    padding: 2px;
    border-radius: 20px;

}



.primeiro li{
    width: 100%;
    height: 100%;
    background-color: var(--branco);
    border-radius: 18px;
    display: flex;
    align-items: center;
    font-size: large;
}


.primeiro div{
    margin-right: 10px;
}

.primeiro img{
    width: 40px;
    height: 40px;
}



.circulo {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    color: var(--branco);
    background-color: var(--ciano);
   
}

.parteDeBaixo{
    
    display: flex;
    justify-content: center;
    gap: 50px;

    
}

.textDecoratinDesafios{
    display: flex;
}



 .desafiosFlex{
    display: flex;
    justify-content: space-between;
    background-color: #FDFDFD;
    width: 799px;
    height: 60px;
    line-height: 60px;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 10px 4px 8px var(--sombra-base);/* Desloca a sombra 10px para a direita */
    transition: 0.4s;
 }

 .desafiosFlex:hover{
    scale: 1.03;
    cursor: pointer;
 }



 .desafiosFlex li{
    margin-left:10px ;
    font-size: x-large;
} 

 .desafiosFlex p{
    margin-right: 10px;
    font-size: large;
}    