*{
    margin: 0;

}

.menuColaborador{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 150px;
    box-shadow: 10px 4px 8px rgba(0,0,0,0.4);
    background-color: white;
    
}

.buttonNavBar{
    text-decoration: none;
    color: black;
    font-weight: 600;
}


.buttonNavBar:hover{
    color: #fc671d
}

.logo{
    width: 150px;
}

.perfilColaborador{
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.userInfo{
    font-size: 10px;
    font-weight: 100;
}

.saldo{
    color: #0BC0D3;
}

.digicoin{
    color: #fc671d
}

.iconeUsuario{
    width: 50px;
    height: 50px;
}

.sino{
    width: 30px;
    height: 30px;
}

.flecha{
    width: 30px;
    height: 18px;
}

.displayOff{
    display: none;
}

.displayOn{
    display: block;
}

.sino:hover{
    cursor: pointer;
}

.flecha:hover{
    cursor: pointer;
}

.flechaCima{
    width: 30px;
    height: 18px;
}

.flechaCima:hover{
    cursor: pointer;
}

.dropMenu{
    position: absolute;
    margin-top: 310px;
    
}

.dropMenuConteudo{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(44, 0, 106, 1);
    border-radius: 5px;
    width: 250px;
    height: 200px;
    background-color: white;
    
}


.itemMenu{
    padding: 20px;
    display: flex;
    align-items: center;
    
}

.itemMenu img{
    width: 28px;
    height: 28px;
    
}

.itemMenu a{
    text-decoration: none;
    color: black;
    font-weight: 400;
    margin-left: 30px;
}

.itemMenu a:hover{
    color: #fc671d;
    transition: 0.5s;
}

.menuColaborador{
    width: 100%;
}