body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(243.18deg, rgba(44, 0, 106, 0.95) 0%, rgba(229, 113, 31, 0.95) 100%)}

.telaBranca{
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf6f7;
    width: 550px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    

}

.botaoClose{
    display: flex;
    width: 100%;
    background-color: #2C006A;
    
}

.inputTelaBranca{
    border: 2px solid;
    width:430px;
    height: 37px;
    border-radius: 15px;
    border-color: #2C006A;
}

.botaoTelaBranca{
    cursor: pointer;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
    height: 65px;
    border-radius: 20px;
    background-color: #D34AF4;
    border: none;
    
}

.linhaInferior{
    width: 80%;
    margin-bottom: 25px;
    text-align: center;
}


.logoDigix{
        margin-top: 40px;
        margin-bottom: 25px;
    }


