body{
    font-family:"Open Sans";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(243.18deg, rgba(44, 0, 106, 0.95) 0%, rgba(229, 113, 31, 0.95) 100%)}

.telaBranca{
    border-radius: 18px;
    background-color: #faf6f7;
    width: 550px;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    

}

.parteinferior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputTelaBranca{
    border: 2px solid;
    width:430px;
    height: 47px;
    border-radius: 15px;
    border-color: #2C006A;
    margin-bottom: 20px;
    font-size: x-large;
}

.botaoTelaBranca{
    cursor: pointer;
    color: white;
    margin-top: 25px;
    margin-bottom: 35px;
    width: 280px;
    height: 65px;
    border-radius: 25px;
    background-color: #D34AF4;
    border: none;
    font-size: larger;
    font-weight: bolder;
    
}

.linhaInferior{
    width: 80%;
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}


.logoDigix{
        margin-top: 40px;
        margin-bottom: 25px;
    }

    .linkInferior2{
        text-decoration: none;
        color: #E5711F
    
    }

    .linkInferior1{
        text-decoration: none;
        color: #0BC0D3
    
    }

.botaoTelaBranca:hover{
    color: black;
    background-color: #de6ffa;
}

.seta{
margin-left: 18px;
margin-top: 18px;
cursor: pointer;
}
